{
    // "layer": "top", // Waybar at top layer
    // "position": "bottom", // Waybar position (top|bottom|left|right)
    "height": 30, // Waybar height (to be removed for auto height)
    // "width": 1280, // Waybar width
    "spacing": 4, // Gaps between modules (4px)
    // Choose the order of the modules
    "modules-left": [
        "sway/workspaces",
        "sway/mode",
        "sway/scratchpad",
        "mpris"
        // "custom/representation"
    ],
    // "modules-center": [
    //     "sway/window"
    // ],
    "modules-right": [
        "pulseaudio#speaker",
        "pulseaudio#mic",
        "custom/bt-profile",
        "bluetooth",
        "network#wlan",
        "network#lan",
        "network#tether",
        "cpu",
        "memory",
        "custom/temperature",
        "backlight",
        // "sway/language",
        "battery",
        // "custom/weather",
        "tray",
        "clock",
        "power-profiles-daemon",
        "idle_inhibitor",
        "custom/notification"
    ],
    "sway/mode": {
        "format": "<span style=\"italic\">{}</span>"
    },
    "sway/scratchpad": {
        "format": "{icon} {count}",
        "show-empty": false,
        "format-icons": [
            "",
            ""
        ],
        "tooltip": true,
        "tooltip-format": "{app}: {title}"
    },
    "sway/workspaces": {
        "all-outputs": false,
        "disable-scroll": true,
        "format": "{name}: {icon}",
        "persistent-workspaces": {
            "1": []
        },
        "format-icons": {
            "1": "", // browsing
            "2": "", // coding
            "3": "", // terminal
            "4": "󰦑", // teams
            "10": "", // external monitor
            "high-priority-named": [
                "1",
                "2",
                "3",
                "4",
                "10"
            ],
            "urgent": "",
            "focused": "",
            "default": ""
        }
    },
    "power-profiles-daemon": {
        "format": "{icon}",
        "tooltip-format": "Power profile: {profile}\nDriver: {driver}",
        "tooltip": true,
        "format-icons": {
            "default": "",
            "performance": "",
            "balanced": "",
            "power-saver": ""
        }
    },
    "idle_inhibitor": {
        "format": "{icon}",
        "format-icons": {
            "activated": "",
            "deactivated": ""
        }
    },
    "tray": {
        // "icon-size": 21,
        "spacing": 10
    },
    "clock": {
        "format": "{:%H:%M}",
        "on-click": "$HOME/.config/waybar/scripts/calendar-toggle.sh",
        "tooltip": false
    },
    "cpu": {
        "format": "{usage}% ",
        "tooltip": false,
        "on-click": "wezterm -e --class htop htop"
    },
    "memory": {
        "format": "{}% ",
        "on-click": "wezterm -e --class htop htop"
    },
    "custom/temperature": {
        "exec": "$HOME/.config/waybar/scripts/temperature.sh",
        "return-type": "json",
        "interval": 5,
        "format": "{}"
    },
    "backlight": {
        // "device": "acpi_video1",
        "format": "{percent}% {icon}",
        "format-icons": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
        ]
    },
    "battery": {
        "states": {
            "good": 95,
            "warning": 30,
            "critical": 15
        },
        "format": "{capacity}% {icon}",
        "format-charging": "{capacity}% ",
        "format-plugged": "{capacity}% ",
        "format-alt": "{time} {icon}",
        "format-good": "", // An empty format will hide the module
        "format-full": "",
        "format-icons": [
            "",
            "",
            "",
            "",
            ""
        ]
    },
    "bluetooth": {
        "on-click": "exec blueman-manager &",
        "format": "{status} ",
        "format-connected": "{status} ",
        "format-connected-battery": "🔋{device_battery_percentage}% ",
        "tooltip-format": "{controller_alias}\n{controller_address}",
        "tooltip-format-connected": "{device_enumerate}",
        "tooltip-format-enumerate-connected": "{device_alias}\n{device_address}",
        "tooltip-format-enumerate-connected-battery": "{device_alias}\n{device_address}\nBattery: {device_battery_percentage}%"
    },
    "network#lan": {
        "interval": 2,
        "interface": "{{ output "sh" "-c" "ls /sys/class/net/ | grep -m1 '^enp\\|^eth'" | trim }}",
        "max-length": 50,
        "format": "",
        "format-ethernet": "<span foreground='#829181'>󰱔 </span>{ipaddr}/{cidr}",
        "format-disconnected": "",
        "tooltip-format": "",
        "tooltip-format-ethernet": "Ifname:\t{ifname}\nNMask:\t{netmask}\nDown:\t{bandwidthDownBits}\nUp:\t{bandwidthUpBits}",
        "tooltip-format-disconnected": ""
    },
    "network#tether": {
        "interval": 2,
        "interface": "{{ output "sh" "-c" "ls /sys/class/net/ | grep -m1 '^enx'" | trim }}",
        "max-length": 50,
        "format": "",
        "format-ethernet": "<span foreground='#829181'>󰱔 </span>{ipaddr}/{cidr}",
        "format-disconnected": "",
        "tooltip-format": "",
        "tooltip-format-ethernet": "Ifname:\t{ifname}\nNMask:\t{netmask}\nDown:\t{bandwidthDownBits}\nUp:\t{bandwidthUpBits}",
        "tooltip-format-disconnected": ""
    },
    "network#wlan": {
        "interval": 2,
        "interface": "{{ output "sh" "-c" "ls /sys/class/net/ | grep -m1 '^wl'" | trim }}",
        "max-length": 50,
        "format": "",
        "format-wifi": "<span foreground='#93b259'>󰀂 </span>{essid}({signalStrength}%)",
        "format-disconnected": "<span foreground='#ffffff'>󰯡 </span>no wlan",
        "tooltip-format": "",
        "tooltip-format-wifi": "Ifname:\t{ifname}\nIPv4:\t{ipaddr}/{cidr}\nNMask:\t{netmask}\nDown:\t{bandwidthDownBits}\nUp:\t{bandwidthUpBits}",
        "tooltip-format-disconnected": ""
    },
    "pulseaudio#speaker": {
        // "scroll-step": 1, // %, can be a float
        "format": "{volume}% {icon}",
        "format-bluetooth": "{volume}% {icon}",
        "format-bluetooth-muted": "{volume}% {icon}",
        "format-muted": "{volume}% ",
        // "format-source": "{volume}%",
        // "format-source-muted": "",
        "format-icons": {
            "headphone": "",
            "hands-free": "",
            "headset": "",
            "phone": "",
            "portable": "",
            "car": "",
            "default": [
                "",
                "",
                ""
            ]
        },
        "on-click-right": "flatpak run com.saivert.pwvucontrol -t 4",
        "on-click": "wpctl set-mute @DEFAULT_AUDIO_SINK@ toggle",
        "on-scroll-up": "wpctl set-volume @DEFAULT_AUDIO_SINK@ 5%+ -l 1",
        "on-scroll-down": "wpctl set-volume @DEFAULT_AUDIO_SINK@ 5%-"
    },
    "pulseaudio#mic": {
        "source": true,
        "format": "{format_source}",
        "format-source": "{volume}% ",
        "format-source-muted": "{volume}% ",
        "tooltip-format": "Microphone: {source_desc}, {volume}%",
        "on-click": "wpctl set-mute @DEFAULT_AUDIO_SOURCE@ toggle",
        "on-click-right": "flatpak run com.saivert.pwvucontrol -t 3",
        "on-scroll-up": "wpctl set-volume @DEFAULT_AUDIO_SOURCE@ 5%+ --limit 1.0",
        "on-scroll-down": "wpctl set-volume @DEFAULT_AUDIO_SOURCE@ 5%-"
    },
    "mpris": {
        "format": "{status_icon} {dynamic} {player_icon}",
        "format-paused": "{status_icon} <i>{dynamic}</i> {player_icon}",
        "dynamic-order": [
            "title",
            "artist",
            "album"
        ],
        "dynamic-separator": " - ",
        "dynamic-len": 40,
        "player-icons": {
            "default": "🎵",
            "firefox": "",
            "chromium": "",
            "google-chrome": "",
            "mpv": "🎬",
            "spotify": "",
            "vlc": "🎬",
            "plexamp": "🎵",
            "plex": "🎬"
        },
        "status-icons": {
            "paused": "",
            "playing": "",
            "stopped": ""
        },
        "ignored-players": [],
        "tooltip-format": "{player} ({status}): {dynamic}"
    },
    "custom/weather": {
        "format": "{}",
        "exec": "$HOME/scripts/waybar-weather.sh",
        "interval": 1800,
        "return-type": "text",
        "tooltip": false,
        "on-click": "firefox --new-window $($HOME/scripts/yr-url-lookup.sh)"
    },
    "custom/bt-profile": {
        "format": "{}",
        "exec": "$HOME/scripts/waybar-bt-profile.sh",
        "on-click": "$HOME/scripts/a2dp-toggle.sh",
        "interval": 1,
        "return-type": "text",
        "tooltip": false
    },
    "custom/notification": {
        "tooltip": false,
        "format": "{icon} ",
        "format-icons": {
            "notification": "<span foreground='yellow'></span>",
            "none": "<span foreground='white'></span>",
            "dnd-notification": "<span foreground='yellow'></span>",
            "dnd-none": "<span foreground='grey'></span>",
            "inhibited-notification": "<span foreground='yellow'></span>",
            "inhibited-none": "<span foreground='grey'></span>",
            "dnd-inhibited-notification": "<span foreground='yellow'></span>",
            "dnd-inhibited-none": "<span foreground='grey'></span>"
        },
        "return-type": "json",
        "exec-if": "which swaync-client",
        "exec": "swaync-client -swb",
        "on-click": "swaync-client -t -sw",
        "on-click-right": "swaync-client -d -sw",
        "escape": true
    },
    "custom/representation": {
        "interval": 1,
        "exec": "swaymsg -t get_workspaces | jq -r '.[] | select(.focused==true)|.representation'",
        "signal": 11
    }
}